/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Mine below */
p {
  color: orange;
  font-size: 16px;
}
h1 {
  color: black;
  font-size: 38px;
}
body {
  background:         none repeat scroll 0 0 pink; /* Change pink https://presscustomizr.com/snippet/adjust-sitewide-background-text-colorsize/*/
  color:              #5A5A5A;              /* Default Text Color */
  padding-bottom:     30px;
  margin-top:         30px ;
  margin-bottom:      30px ;
  background-color:   black ;               /* Change pink */
  border:             2px solid red ;      /* Delete if no border needed */
  /* Adjust sitewide (#5A5A5A) text color */    
  color:              #E5654A;
  /* Adjust sitewide (1.3em) text size */    
  font-size:          1.3em;
  /* Adjust sitewide (Open Sans) font family */    
  font-family:        Georgia;
  /* Adjust sitewide text alignment */
  text-align:         left; /* left|right|center|justify */
  
  }
p {
  /* margin: 25px 50px 75px 100px; */
  margin-left:        130px ;
  }
header, h1, h2, h3, h4, h5, h6 {
  margin-top: 24px;
  /* padding-left:        130px ; */
}
/* visited link https://www.w3schools.com/css/css_link.asp */
a:link, a:visited {
  /* background-color: #f44336; */
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  /* background-color: red; */
}
a:visited {
  color: rgb(249, 85, 255);
  text-decoration: none;
  /* background-color: cyan; */
}

/* Forms and such, objects with id = 'query' */
#query, label {
  font-size: 12px;
}